*{
    margin: 0;
    padding: 0;
}

.home{
    padding: 10px;
}
.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    gap: 11px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
}

.heading{
    gap: 11px;
    padding-top: 14px;
    padding: 23px 14px;
}

.heading img{
    width: 20px;
}

.heading h2{
    font-size: 20px;
}